body {
    display: flex;
    justify-content: center;
}

#calculator-object {
    display: flex;
    background-color: black;
    height: 500px;
    width: 500px;

    border-radius: 5%;
    margin-top: 10%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#screen {
    background-color: white;
    height: 40px;
    width: 80%;
}

.buttons {
    display: flex;
    
    flex-wrap:wrap;

    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}